.Editor {
	border: darkblue dashed thick;
	grid-area: content;
}
.ProseMirror {
	padding: 2rem;
}
.ProseMirror-focused {
	outline: none;
}
.ProseMirror p.is-editor-empty:first-child::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}
